 <%= render 'lists/form' %>
 <div class="mui-container">
 	<div class="mui-panel">
  <!-- content -->

<% @lists.each do |list| %>

	<p><%= link_to list.name, "/lists/#{list.id}" %></p>

<% end %>

</div>
</div>